.sidebar {
  position: relative;
  width: 40%;
  padding: 100px 30px;
  background-color: $orange;
  &__photo {
    position: absolute;
    z-index: 3;
    top: -225px;
    right: 50%;
    border-radius: 100%;
    border: 6px solid $white;
    transform: translateX(50%);
    transition: filter 0.23s ease;
    filter: grayscale(1) contrast(150%);
    &:hover {
      transition: filter 0.18s ease;
      filter: grayscale(0);
    }
  }
  &__feature {
    margin-bottom: 100px;
  }
  &__title {
    margin: 5px 0 25px;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    &-el {
      position: relative;
      margin-bottom: 5px;
      &--marked {
        padding-left: 30px;
        margin-bottom: 12px;
        &::before {
          content: '';
          position: absolute;
          top: -3px;
          left: 5px;
          width: 7px;
          height: 15px;
          border-color: $black;
          border-style: solid;
          border-width: 0 4px 4px 0;
          transform: rotate(45deg);
        }
      }
    }
    &-link {
      color: $black;
      font-weight: 700;
      text-decoration: none;
      &:hover {
        border-bottom: 2px solid $black;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
        transition: 0.09s ease;
      }
    }
  }
}